body {
    font-family: arial;
    background: #EEE;
}

.chart-box {
    border: solid 1px #CCC;
    padding: 0 .5em;
    position: relative;
}

.chart-box.loading:before {
    content: 'Loading...';
    font-size: 4em;
    position: absolute;
    padding-top: 200px;
    padding-left: 150px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    opacity: .6;
    z-index: 99999;
}

.chart-box.loading:after {
    content: '';
    position: absolute;
    top: 210px;
    left: 90px;
    border: dotted 5px blue;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    z-index: 99999;

    animation-name: loader;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.1) rotate(180deg);
    }
    100% {
        transform: scale(1);
    }
}

.charts {
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.charts > li {
    list-style: none;
    padding: 10px;
    flex-basis: 500px;
    flex-grow: 5;
}

button {
    border: solid 1px #999;
    border-radius: .3em;
    background: #0275d8;
    color: #FFF;
    cursor: pointer;
    padding: .5em 1em;
}

.chart-box button {
    padding: 1px 6px;
}

button:focus {
    outline: none;
}

button.active {
    background: #fcd202;
    color: #666;
}

.amcharts-chart-div a {
    visibility: hidden;
}