<div>
    <h1>Jeans Retailer Visual Information - Dashboard</h1>
    <button ng-click="ctrl.loadData()">Load data from file</button>
    <button ng-click="ctrl.createData()">Create Random data</button>
    <label>
    	<input type="checkbox"
    		ng-model="ctrl.animation"
    		ng-true-value="'true'"
    		ng-false-value="'false'"
    		ng-change="ctrl.useAnimation()">
    	Use animation
    </label>
    <pre>Parse time for 10K records (sec): {{ctrl.time | json}}</pre>

    <ul class="charts">
        <li ng-repeat="chart in ctrl.charts">
            <chart data="chart"></chart>
        </li>
    </ul>
</div>