<div class="chart-box" ng-class="{loading: $ctrl.data.loading !== false}">
    <h2>{{$ctrl.data.title}}</h2>
    <div class="chart-control">
        <button ng-click="$ctrl.show3D()" ng-class="{active: $ctrl.data.show3D}">3D</button>
        <button ng-click="$ctrl.show100()" ng-class="{active: $ctrl.data.stackType == '100%'}">100%</button>
        <button ng-click="$ctrl.showBar()" ng-class="{active: $ctrl.data.type == 'bar'}">Bar</button>
        <button ng-click="$ctrl.showRadius()" ng-class="{active: $ctrl.data.topRadius != undefined}">Radius {{$ctrl.data.topRadius}}</button>
        <button ng-click="$ctrl.showMultiColumns()" ng-class="{active: $ctrl.data.multiColumns}">Multi columns</button>
        <label>Group by:
            <select ng-model="$ctrl.data.groupBy" ng-change="$ctrl.changeGroup()">
                <option
                    ng-repeat="item in $ctrl.availableGroups"
                    value="{{item.value}}"
                    ng-disabled="item.value == $ctrl.data.name">{{item.label}}</option>
            </select>
        </label>
    </div>
    <am-chart data="$ctrl.data"></am-chart>
</div>